Content/Megascans/*
Content/StarterContent/**
Intermediate/ReimportCache/**
DerivedDataCache/**
Content/MyStuff/TRAILER1/**
Intermediate/CachedAssetRegistry.bin

**/*.c4d
**/*.c4d@*
**/*.psd
**/*.tga
**/*.abc
**/*.jpg
**/*.png
**/*.jpeg
**/*.aep
**/*.blend
Content/**/*.txt
**/trash/**
CachedAssetRegistry.bin

!Content/MyStuff/ENTITIES/STRUCTURES/accumulator/media/lightning1/lightning1/*.jpg
Saved/Autosaves/**
Saved/Collections/**
Saved/Crashes/**
Saved/Logs/**
Saved/Screenshots/**
Saved/SourceControl/**
Saved/webcache_4430/**
Saved/Config/CrashReportClient/**
!Saved/Config/WindowsEditor/**
!Saved/Config/WorldState/**