Content/Megascans/*
Content/StarterContent/**
Intermediate/ReimportCache/**
DerivedDataCache/**
Content/MyStuff/TRAILER1/**
Intermediate/CachedAssetRegistry.bin

**/*- Copy*.c4d
**/*.c4d@*
**/*.psd
**/*.tga
**/*.abc
**/*.png
**/*.jpeg
**/*.aep
**/*.blend
Content/**/*.txt
**/trash/**
**/backup/**
CachedAssetRegistry.bin

!Content/MyStuff/ENTITIES/STRUCTURES/accumulator/media/lightning1/lightning1/*.jpg
Saved/**
!Saved/Config/WindowsEditor/**
!Saved/Config/WorldState/**
Intermediate/ShaderAutogen/**